
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(135deg, #ff8fa3, #7fc8f8);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.logo{
    font-size: 24px;
    font-weight: 700;
}

.logo-image{

    width: 100px;
    height: 50px;
    transition: transform 0.3 ease;
}

nav a{
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav a:hover{
    color: #333;
    border-bottom: 2px solid black;
}

.hero{
    text-align: center;
    padding: 80px 20px 30px;
}

.hero-title{
    font-size: 34px;
    font-weight: 700;
    animation: fadeIn 1.5s ease;
}

.hero-sub{
    font-size: 18px;
    margin-top: 10px;
    animation: slideDown 1.5s ease;
}

.section-title{
    font-size: 25px;
    text-align: center;
    margin: 40px 0 20px;
    font-weight: 600;
}

.mood-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
}

.mood-card{
    background: white;
    padding: 30px 0;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    animation: popUp 0.8s ease;
}

.mood-card:hover{
    transform: scale(1.08) translateY(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.happy{ background: #ffeb99; }
.sad{ background: #8ea6ff; color: white; }
.stressed{ background: #ff7b7b; color: white;}
.calm{ background: #8ef6f6; }

.output-section{
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.output-box{
    background: white;
    width: 80%;
    max-width: 600px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 35px rgba(0,0,0,0.15);
    animation: fadeIn 1s ease;
}

.output-box h2{
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 600;
}

.song, .quote{
    font-size: 17px;
    margin: 8px 0;
}

@keyframes fadeIn{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

@keyframes slideDown{
    from{ transform: translateY(-20px); opacity:0; }
    to{ transform: translateY(0); opacity:1; }
}

@keyframes popUp{
    0%{ transform: scale(0.7); opacity: 0; }
    100%{ transform: scale(1); opacity: 1; }
}

@media(max-width: 900px){
    .mood-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 500px){
    .hero-title{
        font-size: 28px;
    }

    .mood-card{
        padding: 20px 0;
        font-size: 18px;
    }

    .output-box{
        width: 90%;
        padding: 20px;
    }
}

.heading {
  text-align: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  background: linear-gradient(to bottom, rgb(68, 68, 228), rgb(231, 46, 170));
  background-clip: text;
  color: transparent;
  padding-top: 3em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(135deg, #ff8fa3, #7fc8f8);
    min-height: 100vh;
}

.name{
    text-align: center;
    padding: 50px 20px;
}

.name h1{
    font-size: 32px;
    font-weight: 600;
}

.name p{
    font-size: 16px;
    margin-top: 10px;
}

.singers-container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding-bottom: 50px;
}

.singer-card{
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.singer-card:hover{
    transform: translateY(-8px);
}

.singer-card h2{
    font-size: 20px;
    margin-bottom: 12px;
}

.singer-card p{
    font-size: 14px;
    margin-bottom: 6px;
    color: #444;
}

@media(max-width: 900px){
    .singers-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 500px){
    .singers-container{
        grid-template-columns: 1fr;
    }
}

.carousel-section{
    width: 90%;
    display: flex;
    border: 5px;
    margin: 100px auto;
    overflow-x: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.carousel-section::-webkit-scrollbar {
    display: none;
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 35s infinite linear;
    padding-right: 1em;
}

.carousel-track{
    flex: 0 0 5em;
    display: flex;
    height: 100%;
    padding: 1em;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

.carousel-track img{
    width: 900px;
    height: 300px;
    padding-right: 1em;
    object-fit: cover;
}

@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
}

@media(max-width: 900px){
    .carousel{
        height: 220px;
    }

    .carousel-track img{
        width: 100%;
        height: 220px;
    }

    .carousel-track{
        width: calc(100% * 7);
    }
}

footer{
    text-align: center;
    padding: 20px;
    background: rgba(255,255,255,0.3);
    margin-top: auto;
}

.slogan {
    font-weight: bolder;
    color: #e94e6b;
    font-size: x-large;
}

.contacts {
    font-size: large;
    font-weight: 500;
    padding-bottom: .5em;
}